.join_title{
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
    margin-left: 15%;
    margin-bottom: 60px;
    background-image: linear-gradient( #c6f1bc, #ace85c, #a2e535, #5ad542, #21c84d);
}

.join_box{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    /* padding: 100.5px; */
    flex-direction: column;
    display: flex;
    margin-top: 100px;
}

.join_info_box{
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    /* margin-left: 15%; */
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    justify-content: space-between;
    z-index: 1;
}

.join_info{
    border-radius: 20px;
    border: 1px solid #192119;
    /* flex: 1; */
    /* margin-right: 100px; */
    display: flex;
    justify-content: center;
    height: 62px;
    flex-direction: row;
    background-color: rgba(25, 33, 25, 0.6);
}

.join_info_text{
    font-size: 22px;
    color: #e7ffd1;
    font-weight: bold;
    margin-top: 2px;
    padding-right: 33px;
    text-transform: capitalize;
    margin-left: 5px;
}

.bull_w_bkg {
    position: relative;
    /* border: 2px solid pink; */
    top: -50px;
    z-index: 0;
    /* box-shadow: 0 0 10000px 10000000px black inset; */
    width: 100%;
}