.highlight_box{
    border: 1px solid #d9ffd6;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 17.7%;
    width: 95%;
    height: 781px;
    flex-direction: row;
}

.highlight_title{
    font-size: 40px;
    margin-left: 95px;
    margin-top: 77.07px;
    width: 500px;
    height: 56.34px;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    background-image: linear-gradient(#dcf45d, #2cbd35);
}

.highlight_col{
    flex-direction: row;
    display: flex;
    flex: 1;
}

.highlight_rows_img{
    width: 120px;
    height: 122.59px;
    display: flex;
}

.highlight_section{
    flex: 1;
    flex-direction: row;
    margin-top: 73px;
    margin-left: 95px;

}

.highlight_subtitle{
    font-size: 24px;
    width: 195px;
    height: 58px;
    color: #e7ffd1;
    margin-top: 0px;
}

.highlight_info{
    font-size: 14px;
    width: 294px;
    color: rgba(231, 255, 209, 0.6);
    margin-top: 35px;
}

