.outer_box{
    /* border: 1px solid pink; */
    width: 100%;
    margin-top: 100px;
    padding-left: 130px;
    position: relative;
    z-index: 2;
   
}

.highlight_box{
    /* border: 1px solid orange; */
    margin-left: 30px;
    border-radius: 40px;
    padding-bottom: 80px;
    padding-left: 30px;
    /* width: 95%; */
    width: 100%;
    /* height: 781px; */
    flex-direction: row;
    background: linear-gradient(180deg, rgba(174, 187, 65, 0.08) 0%, rgba(115, 255, 128, 0.02) 100%);
}

.highlight_title{
    font-size: 40px;
    margin-left: 40px;
    padding-top: 35px;
    width: 500px;
    height: 90px;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    background-image: linear-gradient(#dcf45d, #2cbd35);
}

.highlight_col{
    flex-direction: row;
    display: flex;
    flex: 1;
}

.highlight_rows_img{
    width: 120px;
    height: 122.59px;
    display: flex;
}

.highlight_section{
    flex: 1;
    flex-direction: row;
    margin-top: 73px;
    margin-left: 40px;
    margin-right: 5px;
    /* border: 1px solid blue; */
}

.highlight_subtitle{
    font-size: 24px;
    width: 195px;
    height: 58px;
    color: #e7ffd1;
    margin-top: 0px;
}

.highlight_info{
    font-size: 14px;
    width: 294px;
    color: rgba(231, 255, 209, 0.6);
    margin-top: 35px;
}






.image_container {
    
    /* display: flex; */
    position: relative;
    display: inline-block;
  }
  
.static_image,
.gif_image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease;
}
  
.static_image {
    /* border: 1px solid blue; */
    width: 120px;
    
    /* height: 122.59px; */
    opacity: 1;
}

.gif_image {
    /* border: 1px solid red; */
    opacity: 0;
    width: 103px;
    margin: 6px 0px 15px 12px;
    /* height: 122.59px; */
}

.image_container:hover .static_image {
opacity: 0;
}

.image_container:hover .gif_image {
opacity: 1;
}

@media(max-width:1260px){
    .outer_box{
        width: 100%;
        margin-top: 60px;
        padding-left: 0%;
        position: relative;
        z-index: 2;
    }
    .highlight_box{
       /* border: 1px solid orange; */
        margin-left: 10%;
        margin-right: 0%;
        border-radius: 20px;
        padding-bottom: 80px;
        padding-left: 0%;
        padding-right: 0%;
        /* width: 95%; */
        width: 80%;
        height: auto;
        /* height: 781px; */
        flex-direction: row;
        background: linear-gradient(180deg, rgba(174, 187, 65, 0.08) 0%, rgba(115, 255, 128, 0.02) 100%); 
    }

    .highlight_title{
        font-size: 24px;
        margin-left: 8%;
        padding-top: 20px;
        width: auto;
        height: auto;
        margin-bottom: -5%;
    }

    .highlight_col{
        display: flex;
        flex-direction: column;
    }

    .highlight_rows_img{
        width: 60px;
        height: auto;
        /* display: flex; */
        margin-left: -3%;
        grid-area: 1 / 1 / 2 / 3;
    }

    .highlight_section{
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10%;
        margin-left: 8%;
        margin-right: 8%;
        /* border: 1px solid blue; */
    }
    
    .highlight_subtitle{
        font-size: 16px;
        width: 130px;
        height: auto;
        color: #e7ffd1;
        margin-top: 2%;
        margin-left: 20%;
        text-align: left;
    }
    
    .highlight_info{
        font-size: 14px;
        width: 95%;
        color: rgba(231, 255, 209, 0.6);
        margin-top: 15px;
    }

    .static_image {
        /* border: 1px solid blue; */
        width: 60px;
        height: auto;
        /* height: 122.59px; */
        opacity: 1;
    }

    .gif_image {
        /* border: 1px solid red; */
        opacity: 0;
        width: 51.5px;
        margin: 6px 0px 15px 12px;
        /* height: 122.59px; */
    }

    .gif_image {
    position: absolute;
    top: -5px;
    left: -5px;
    transition: opacity 0.2s ease;
}
   
}