
.box_container{
    width: 100%;
    /* add in height to fix the box */
    /* height: 750px; */
    padding: 100px 50px 100px 150px;
    /* border: 2px solid white; */
}

.box{
    width: 100%;
    height: 500px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid orange; */
}

.box_left{
    /* flex: 1.2; */
    display: flex;
    width: 70%;
    /* margin-right: 300px; */
    flex-direction: column;
    position: relative;
    /* border: 2px solid blue; */
}

.box_left_title{
    font-size: 40px;
    padding-left: 70px;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    background-image: linear-gradient(#dcf45d, #2cbd35);
    width: 100%;
    /* border: 2px solid greenyellow; */
}

.box_left_img_box{
    width: 100%;
    height: 100%;
    /* border: 10px solid green; */
}

.img{
    position: absolute;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 100px;
    padding-left: 0px;
    width: 480px;
    /* border: 2px solid cyan; */
    z-index: 1;
}

.bkg{
    position: absolute;
    display: block;
    margin-left: 100px;
    width: 600px;
    z-index: 1;
    /* border: 2px solid gray; */
}

.box_right{
    width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    /* padding-left: 100px; */
    /* margin-left: 500px; */
    /* border: 2px solid yellow; */
}

.box_right_silder_box{
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.box_right_silder_box_u{
    margin-right: 10px;
    width: 20px;
    height: 10px;
    background-color: gray;
    border-radius: 5px;
}


.box_right_silder_box_s{
    margin-right: 10px;
    width: 60px;
    height: 10px;
    background-color: #2cbd35;
    border-radius: 5px;
}

.box_right_value{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.box_right_value_title{
    font-size: 32px;
    color: #e7ffd1;
    font-weight: 700;
    line-height: normal;
    width: 65%;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 0px;
    /* border: 2px solid red; */
}


.box_right_value_info{
    font-size: 14px;
    color: rgba(231, 255, 209, 0.6);
    line-height: 24px;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 50px;
    width: 85%;
}


.enter_but {
    z-index: 1;
    font-weight: bold;
    width: 139px;
    height: 48px;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 15px;
    color: #212121;
    background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
  }
