.box_container{
    width: 100%;
    /* add in height to fix the box */
    /* height: 750px; */
    padding: 100px 120px 200px 120px;
}

.box{
    width: 100%;
    /* height: 200px; */
    display: flex;
    width: 100%;
    flex-direction: row;
}

.box_left{
    flex: 1.2;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box_left_title{
    font-size: 30px;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    background-image: linear-gradient(#dcf45d, #2cbd35);
}

.box_left_img_box{
    width: 100%;
    padding: 40px;
}

.box_left_img_value{
    width: 100%;
    height: 100%;
}

.img{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 450px;
    /* height: 400px; */
    z-index: 1;
}

.bkg{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 500px;
    z-index: 1;
    /* height: 400px; */
}

.box_right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box_right_silder_box{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.box_right_silder_box_u{
    margin-right: 10px;
    width: 20px;
    height: 10px;
    background-color: gray;
    border-radius: 5px;
}


.box_right_silder_box_s{
    margin-right: 10px;
    width: 60px;
    height: 10px;
    background-color: #2cbd35;
    border-radius: 5px;
}

.box_right_value{
    display: flex;
    flex-direction: column;

}

.box_right_value_title{
    font-size: 32px;
    color: #e7ffd1;
    line-height: auto;
    margin-top: 30px;
}


.box_right_value_info{
    font-size: 14px;
    color: rgba(231, 255, 209, 0.6);
    line-height: 24px;
    margin-top: 35px;
}


.enter_but {
    font-weight: bold;
    width: 139px;
    height: 48px;
    font-size: 16px;
    text-transform: capitalize;
    color: #212121;
    background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
  }