.container_box {
  font-family: 'Inter', sans-serif;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: black; */
  background-color: #050301;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}


.box1{
  width: 100%;
  height: auto;
  position: relative;
}

.left{
  position: absolute;
  top: -200px;
  left: -700px;
  width: 1000px;
  height: 1000px;
  rotate: -170deg;
}

.right{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 900px;
  height: 845px;
} 

.middle{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 840px;
}

.keyfeature {
  position: absolute;
  width: 1600px;
  height: 1000px;
  left: 0px;
  bottom: -300px;
}

.product_bkg_right {
  position: absolute;
  width: 1200px;
  height: 650px;
  right: 0px;
  bottom: 350px;
}

.product_bkg {
  position: absolute;
  width: 1400px;
  height: 850px;
  left: 0px;
  bottom: -400px;
}

.joinZoo_right {
  position: absolute;
  width: 600px;
  height: 1000px;
  right: 0px;
  bottom: 80px;
  /* border: 2px solid red; */
}

.joinZoo_left {
  position: absolute;
  width: 600px;
  height: 1200px;
  left: 0px;
  bottom: -250px;
  /* border: 2px solid red; */
}

.pawR {
  /* border: 2px solid red; */
  opacity: 0.3;
  position: absolute;
  width: 900px;
  right: -380px;
  bottom: -380px;
  z-index: 1;
}

.pawL {
  /* border: 2px solid red; */
  opacity: 0.4;
  position: absolute;
  height: 700px;  
  left: -430px;
  bottom: 60px;
  z-index: 1;
  transform: rotate(105deg)
}


@media (max-width: 1260px) {
  .left{
    position: absolute;
    top: -200px;
    left: -700px;
    width: 1000px;
    height: 1000px;
    rotate: -170deg;
    display: none;
  }
  
  .right{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 900px;
    height: 845px;
    display: none;
  } 
  
  .middle{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 840px;
    display: none;
  }

  
}  