.container_box {
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #050301;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box1 {
  width: 100%;
  height: auto;
  position: relative;
}

.left {
  position: absolute;
  top: -200px;
  left: -700px;
  width: 1000px;
  height: 1000px;
  rotate: -170deg;
}

.right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 900px;
  height: 845px;
  /* border: 1px dashed pink; */
}

.middle {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 840px;
}

.keyfeature {
  position: absolute;
  width: 1600px;
  height: 1000px;
  left: 0px;
  bottom: -300px;
  /* border: 1px dashed red; */
}

.product_bkg_right {
  position: absolute;
  width: 1200px;
  height: 650px;
  right: 0px;
  bottom: 350px;
  /* border: 1px dashed yellow; */
}

.product_bkg {
  position: absolute;
  width: 1400px;
  height: 850px;
  left: 0px;
  bottom: -400px;
  /* z-index: 99; */
  /* border: 1px dashed turquoise; */
}

.joinZoo_right {
  position: absolute;
  width: 600px;
  height: 1000px;
  right: 0px;
  bottom: 80px;
  /* border: 2px solid red; */
}

.joinZoo_left {
  position: absolute;
  width: 600px;
  height: 1200px;
  left: 0px;
  bottom: -250px;
  /* border: 2px solid red; */
}

.pawR {
  /* border: 2px solid red; */
  opacity: 0.3;
  position: absolute;
  width: 900px;
  right: -380px;
  bottom: -380px;
  z-index: 1;
}

.pawL {
  /* border: 2px solid thistle; */
  opacity: 0.4;
  position: absolute;
  height: 700px;
  left: -420px;
  bottom: 60px;
  z-index: 1;
  transform: rotate(105deg);
}

.mobile_bkg {
  display: none;
}

@media (max-width: 1200px) {
  .desktop_bkg {
    display: none;
  }

  .mobile_bkg {
    display: block;
  }

  .mobile_dash {
    position: absolute;
    top: 4.8vh;
    left: -5vw;
    height: 60%;
    width: 100%;
    /* border: 1px solid red; */
  }

  .mobile_dash_r {
    position: absolute;
    top: 0;
    right: 0px;
    height: 48vh;
    width: 100vw;
    /* border: 1px dashed cyan; */
  }
}

@media (max-width: 576px) {
  .keyfeature {
    position: absolute;
    width: 190%;
    height: 110%;
    /* left: 25%; */
    top: 25%;
    /* border: 1px dashed sandybrown; */
  }

  .product_bkg_right {
    position: absolute;
    width: auto;
    height: 100%;
    right: 0;
    bottom: -30%;
    /* border: 1px dashed pink; */
  }

  .product_bkg {
    display: none;
  }

  .joinZoo_right {
    position: absolute;
    width: 60%;
    height: auto;
    right: 0;
    bottom: 40px;
    /* border: 2px solid white; */
  }

  .joinZoo_left {
    position: absolute;
    width: 60%;
    height: auto;
    left: 0;
    bottom: 20px;
    /* border: 2px solid red; */
  }

  .pawR {
    /* border: 2px solid red; */
    opacity: 0.2;
    width: 130%;
    height: auto;
    right: -56%;
    bottom: 7%;
  }

  .pawL {
    /* border: 2px solid red; */
    display: none;
  }
}
