.container_box {
  height: 126px;
  width: 80%;
  border-radius: 20px;
  border: 0.5px solid rgba(217, 255, 214, 0.29);
  background: radial-gradient(95.37% 74.21% at 50.80% 50.00%, rgba(229, 229, 29, 0.18) 0%, rgba(115, 255, 128, 0.02) 100%);
  backdrop-filter: blur(10px);
  margin-top: 100px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.bg{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.value_box{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.item_box{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.item_box_left{
  display: flex;
  /* width: 100px; */
}

.item_img1{
  display: flex;
  height: 69.29px;
  width: 67.82px;
  /* height: 100%;
  width: 100%; */
  margin-left: 48px;
  margin-top: 26px;
  background-image: url(/trading_volume.png);
}

.item_img2{
  display: flex;
  height: 69.29px;
  width: 67.82px;
  margin-left: 48px;
  margin-top: 26px;
  background-image: url(/jackpot.png);
}

.item_img3{
  display: flex;
  height: 69.29px;
  width: 67.82px;
  margin-left: 48px;
  margin-top: 26px;
  background-image: url(/total_users.png);
}

.item_text_title{
  display: flex;
  height: 20px;
  width: auto;
  margin-left: 11px;
  margin-top: 29px;
  font-size: 14px;
  color: #BBCFAB;
  /* border: 1px solid red; */
}

.item_value{
  display: flex;
  height: 39px;
  width: 247px;
  margin-left: 10px;
  margin-top: 1px;
  font-size: 28px;
  color: #D9FFD6;
}

.item_right{
  display: flex;
  flex-direction: column;
}

.sep_bar{
  display: flex;
  height: 78px;
  width: 0.5px;
  background: rgba(217, 255, 214, 0.29);
  margin-top: 26px;
}