.container_box {
  height: 126px;
  width: 1119px;
  border: 1px solid #d9ffd6;
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}


.item_box{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.item_box_left{
  display: flex;
  /* width: 100px; */
}

.item_img{
  display: flex;
  height: 69.29px;
  width: 67.82px;
  margin-left: 48px;
  margin-top: 26px;
  background-image: url(/databarpic1.png);
}

.item_text_title{
  display: flex;
  height: 20px;
  width: 109px;
  margin-left: 11px;
  margin-top: 29px;
  font-size: 14px;
  color: #BBCFAB;
}

.item_value{
  display: flex;
  height: 39px;
  width: 247px;
  margin-left: 10px;
  margin-top: 1px;
  font-size: 28px;
  color: #D9FFD6;
}

.item_right{
  display: flex;
  flex-direction: column;
}

.sep_bar{
  display: flex;
  height: 78px;
  width: 1px;
  background-color: #d9ffd6;
  margin-top: 26px;
}