.header_container {
  width: 100%;
  height: 112px; 
  /* height: 300px; */
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  /* border: solid 2px #15d264; */
}
  
.mobile_header_container {
  display: none;
}

.header_container_left {
  /* border: 2px dashed red; */
  width: 90px;
  height: 34.29px;
  /* margin-left: 80.28px; */
  margin-left: 5%;
  margin-top: 39.79px;
}

.header_container_right {
  /* margin-left: 634.72px; */
  /* border: 2px dashed red; */
  /* margin-right: 110px; */
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  color: white;
}

.header_container_right_enter {
  font-weight: bold;
  width: 139px;
  height: 40px;
  border-radius: 8px;
  margin-top: 36px;

  text-transform: capitalize;
  color: #212121;
  font-size: 14px;
  background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
}

.header_container_right_enter:hover {
  background: radial-gradient(270.64% 270% at 50% -160%, #15D264 0%, #2CBD35 36.26%, #DCF45D 92.54%);
  backdrop-filter: blur(15px);
}
.dropdown_menu {
  z-index: 1;
  position: absolute;
  width: 140px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid rgba(190, 255, 186, 0.15);
  background: rgba(220, 255, 232, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(45px);
}

.dropdownItem {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.dropdownItem img {
  width: 24px;
  margin: 0px 20px 0px 15px;
  opacity: 1;
}

.dropdown_menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.2s ease-out;
  transition-delay: 0.1s;
}

.dropdown_menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.35s ease-in;
}

@media (max-width: 1366px) {
  .header_container {
    display: none;
    z-index: 5;
  }

  /* .header_container_left {
    display: none;
  }

  .header_container_right {
    display: none;
  }

  .header_container_right_enter {
    display: none;
  } */

  .mobile_header_container {
    display: block;
    width: 100%;
    height: 15vh;
    height: 100px;
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0px 0;
    margin-bottom: 2vh;
  }

  .mobile_header_left {
    width: 40vw;
    /* border: 1px solid yellow; */
    display: flex;
    /* justify-content: ; */
    align-items: center;

  }

  .mobile_logo {
    width: 31%;
    z-index: 5;
    /* height: 60%; */
    /* margin-top: 50%; */
    /* border: 1px solid yellow; */
  }

  .mobile_header_right {
    width: 40vw;
    display: flex;
    /* padding-left: 20%, ; */
    align-items: center;
    /* border: 1px solid blue; */
  }

  .mobile_enter {
    font-weight: bold;
    width: min(130px, 70%);
    /* width: 70%; */
    border-radius: 8px;
    text-transform: none;
    color: #212121;
    font-size: 12px;
    background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
    display: block;
    margin-left: auto;
  }

  .mobile_enter:hover {
    background: radial-gradient(270.64% 270% at 50% -160%, #15D264 0%, #2CBD35 36.26%, #DCF45D 92.54%);
    backdrop-filter: blur(15px);
  }

  .more_btn {
    width: 12%;
    display: block;
    margin-left: 25px;
    cursor: pointer;
    z-index: 10;
  }

  .mobile_menu {
    width: 100%;
    height: 30%;
    flex-shrink: 0;
    background: rgba(37, 49, 41, 0.20);
    backdrop-filter: blur(45px);
    position: absolute;
    z-index: 6;
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    padding-top: 15%;
    justify-content: space-around;
  }

  .basic-button .zoo-doc {
    z-index: 5;
  }

  .dropdown_menu {
    z-index: 5;
    position: absolute;
    width: 120px;
    height: auto;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid rgba(190, 255, 186, 0.15);
    background: rgba(220, 255, 232, 0.08);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(45px);
  }

  .dropdownItem {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .dropdownItem img {
    width: 24px;
    margin: 0px 20px 0px 10px;
    opacity: 1;
  }

  .mobile_header_container.dropdown_menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: all 0.2s ease-out;
    transition-delay: 0.1s;
  } 

  .mobile_header_container.dropdown_menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.35s ease-in;
    display: none;
  }

  .mobile_menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: all 0.35s ease-out;
  }

  .mobile_menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.35s ease-in;
  }

  .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
  }
}