.box_container {
  width: 100%;
  margin-top: 70px;
  margin-left: 110px;
  display: flex;
  flex-direction: row;
  /* transform: translateX(8%); */
  /* border: 2px solid blue; */
}

.left_box {
  position: relative;
  /* padding-right: 20px; */
  padding-top: 70px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: 2px solid red; */
}

.left_box_title {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(#dcf45d, #2cbd35);
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -1.32px;
  position: relative;
  /* border: 2px solid pink; */
}

.left_box_info {
  color: rgba(217, 255, 214, 0.7);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.308px;
  margin-top: 20px;
  padding-right: 100px;
  /* border: 1px dashed teal; */
}

.enter_box {
  margin-top: 40px;
}

.enter_but {
  margin: auto;
  font-weight: bold;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: capitalize;
  color: #212121;
  background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
}

.enter_but:hover {
  background: radial-gradient(
    270.64% 270% at 50% -160%,
    #15d264 0%,
    #2cbd35 36.26%,
    #dcf45d 92.54%
  );
  backdrop-filter: blur(15px);
}

/* with needle .gif */
/* .right_box {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.right_box_img{
  height: 75vh;
  position: relative;
}

.needle{
  position: absolute;
  margin-left: 10vw;
  margin-top: 20vh;
  width: 28.5vw;
  height: 15vh; 
} */

.right_box {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
  /* border: 2px solid cornflowerblue; */
}

.right_box_img {
  display: block;
  margin: 20px auto;
  position: relative;
  align-items: center;
  height: auto;
  max-width: 100%;
  /* border: 1px dashed darkkhaki; */
}

.needle {
  position: absolute;
  padding-left: 13%;
  padding-right: 44.5%;
  margin-top: 17%;
  width: 100%;
  height: auto;
  /* border: 1px solid palegreen; */
}

/* with dashboard gif */
/* .right_box {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.dash_bkg {
  position: relative;   
  max-height: 100%;
  width: auto;
  border: 1px solid yellow;
}

.dash {
  z-index: 01;
  position: absolute;
  margin: 45px 0 0 49px;
  height: 525px;
  margin: 2.995% 0 0 3.2%;
  height: 74.6%;
  width: auto;
  border: 1px dashed pink;
} */

@media (max-width: 1366px) {
  .box_container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    /* border: 2px solid red; */
  }

  .left_box {
    padding-top: 10px;
    padding-right: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
  }

  .left_box_title {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(#dcf45d, #2cbd35);
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.66px;
    padding: 0 1%;
    text-align: center;
    margin-bottom: 5px;
    /* border: 2px solid pink; */
  }

  .left_box_info {
    margin: 10px auto 10px auto;
    max-width: 280px;
    padding-right: 0;
    color: rgba(217, 255, 214, 0.7);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.264px;
    /* border: 1px solid orange; */
  }

  .enter_box {
    display: flex;
    align-items: center;
    margin-top: 15px;
    /* border: 1px solid yellow; */
  }

  .enter_but {
    display: block;
    margin: auto;
    font-weight: bold;
    border-radius: 8px;
    width: 139px;
    height: 48px;
    font-size: 16px;
    text-transform: capitalize;
    color: #212121;
    background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
    transition: background-color 1s ease;
  }

  .enter_but:hover {
    background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
  }

  /* with needle .gif */
  .right_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
  }

  .right_box_img {
    display: block;
    margin: 0 auto;
    position: relative;
    align-items: center;
    height: auto;
    width: 100%;
    /* border: 1px dashed darkkhaki; */
  }

  .needle {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    margin-left: 12%;
    margin-top: 15.5%;
    width: 42.5%;
    height: 20%;
    /* border: 1px solid yellow; */
  }
}
