.box_container {
  padding-top: 100px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid yellow; */
}

.left_box {
  padding-right: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 48px;
  /* border: 2px solid red; */
}

.left_box_title {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(#dcf45d, #2cbd35);
  font-size: 60px;
  font-weight: bold;
  /* border: 2px solid pink; */
}

.left_box_info {
  margin-top: 20px; 
  color: #d9ffd6;
}

.enter_but {
  font-weight: bold;
  width: 139px;
  height: 48px;
  font-size: 16px;
  text-transform: capitalize;
  color: #212121;
  background: radial-gradient(at top right, #15d264, #2cbd35, #dcf45d);
}

/* vw  vh */

.right_box {
  /* background-image: url("/oneRightBg.svg"); */
  /* padding: 20px;
  padding-right: -20px; */
  display: flex;
  flex-direction: column;
  /* transform: translateX(10%); */
  /* border: 2px solid yellow; */
}

.right_box_img{
  /* border: 2px solid blue; */
  /* left: 100px; */
  width: 60vw;
  height: 67vh;
  position: relative;
}

.needle{
  /* border: 2px solid pink; */
  /* left: 100px; */
  position: absolute;
  margin-left: 6.8vw;
  margin-top: 16.5vh;
  width: 28.5vw;
  height: 15vh; 
  /* margin-left: 110px;
  margin-top: 130px;
  width: 420px;
  height: 125px; */
}
