.footer_container {
    top: -200px;
    position: relative;
    width: 75%;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 2px solid pink; */
}

.footer_top {
    /* border: 2px solid pink; */
    /* width: 70%;
    height: 500px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 200px;
    margin-bottom: 200px; */
    justify-content: space-between;
}

.footer_bottom {
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(231,255,209, 0.8);
    font-size: 16px;
    text-align: center;
}

.left_container img {
    margin-top: 25px;
    /* width: 95px; */
    height: 40px;
}

.left_container {
    /* border: 2px solid lightblue;  */
    padding-right: 180px;
    line-height: 24px;
    width: 55%;
    height: 400px;
    color: rgba(231,255,209, 1);
    font-size: 16px;
}

.left_container_email {
    font-size: 16px;
    color: rgba(231,255,209, 0.8);
    font-weight: 400;
    line-height: 24px;
    width: fit-content;
    cursor: pointer;
    /* border: 1px solid greenyellow; */
}

.left_container_email:hover {
    color: #1CCC57;
    cursor: pointer;
}

.right_container {
    /* border: 2px solid yellowgreen; */
    /* padding-right: 10%; */
    width: 50%;
    height: 400px;
    color: rgba(231,255,209, 0.7);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.right_container p {
    width: fit-content;
    /* border: 2px solid cyan; */
}

.right_container p:hover {
    color: #1CCC57;
    cursor: pointer;
}

.links_container {
    /* border: 2px solid cyan; */
    width: 50%;
}

.category {
    /* border: 1px solid greenyellow; */
    margin-top: 0x;
    font-size: 24px;
    color: rgba(231,255,209, 1);
    font-weight: 800;
}

